body {
  color: #2d3963;
  background-color: #f3f7ec;
}

.heading {
  margin: 32px;
}

.in-line-header {
  display: flex;
}

.search-home {
  margin-top: 136px;
}

// .header-home {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 2em;
//     padding-top: 120px;
//     width: 100%;
//     z-index: 1;
// }

// .header-div {
//     display: block;
// }

// .header-div img {
//   height: 100%;
//   width: 560px;
//   object-fit: cover;
// }
