.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 72px;
}

.nav-item {
  color: green;
}

.navbar-lewagon .navbar-brand {
  color: green;
}

.nav-user {
  color: green;
  padding-top: 8px;
}

.wagon {
  color: #6610f2;
    h3 {
    margin-bottom: -9px;
    margin-left: -3px;
    font-family: 'Josefin Sans', sans-serif;
  }
}
